* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

p {
    color: blueviolet;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-6 {
    flex-basis: 50%;
    min-width: 300px;
}

.banner-image {
    width: 100%;
    padding: 50px 0;
}

.banner-title {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #8e10ad;
    color: #FFF;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 25px;
    transition: background 0.5s;
}

.btn:hover {
    background: #632572;
}

.banner {
    background: radial-gradient(#FFF, #e88eff96);
}

.categories {
    margin: 70px 0;
}

.col-4 {
    flex-basis: calc( 100%/3 - 45px);
    min-width: 250px;
    margin-bottom: 30px;
}

.col-4 img {
    width: 100%;
}

.col-3 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-3 img {
    width: 100%
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #632572;
    width: 80px;
    height:5px;
    border-radius: 5px;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-3 p {
    font-size: 14px;
}

.rating {
    color:#8e10ad;
}

.card {
    transition: transform 0.5s;
}

.card:hover {
    transform: translateY(-5px);
}

.image-wraper {
    position: relative;
    overflow: hidden;
}

.texted {
    display: inline-block;
    position: absolute;
    padding: 2px 30px;
    text-align: center;
    top: 21px;
    left: -37px;
    transform: rotate(-45deg);
    background: #c843e9;
    color: white;
    font-size: 10px;
    width: 50%;
}

.featured {
    background: #c843e9;
}

.new {
    background: #7c4404;
}

.offer {
    background: #436fe9;
}

.offer-product {
    background: radial-gradient(#FFF, #e88eff96);
}

.offer-product img{
    padding: 100px;
}

.testimonials {
    padding-top: 100px;
}

.testimonials .col-4 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
    margin: 15px;
}

.testimonials .col-4 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonials .col-4 p {
    color: #555;
    font-size: 13px;
    margin: 12px 0;
}

.testimonials .col-4:hover {
    transform: translateY(-10px);
}

.testimonials .fa-quote-left {
    font-size: 34px;
    color: #5a489b
}

.testimonials .col-4 h3 {
    color: rgb(31, 30, 30);
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0 0 0;
}

.brands {
    margin: 100px auto;

}

.col-2 {
    width: calc(100% / 6 - 15px);
}

.brands img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.brands img:hover {
    filter: grayscale(0);
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #FFF;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

.footer ul {
    list-style: none;
}

.app-logo {
    margin-top: 15px;
}

.app-logo img {
    width: calc(50% - 30px);
    border-radius: 5px;
}

.mr-15 {
    margin-right: 15px;
}

.footer hr {
 border: none;
 background: #b5b5b5;
 height: 1px;
 margin: 20px 0;
}

.copyright {
    text-align: center;
}

.fa.fa-bars {
    font-size: 18px;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        right: 0;
        background: #333;
        width: 200px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul a {
         color: #FFF;
    }

    .fa.fa-bars {
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2, .col-3, .col-4, .col-6 {
        flex-basis: 100%;
    }
}


.bannstudy {
    height: 550px;
    background-color: rgb(42, 41, 41);
    position: relative;
}

.bannstudy>* {
    position: absolute;
}

.topimg {
    top: 0;
    left: 0;
    animation-name: animateImg;
    animation-duration: 1s;
}

.bottomimg {
    bottom: 150px;
    right: 150px;
    animation-name: animateImg;
    animation-duration: 1s;
}

.decor {
    top: 150px;
    right: 200px;
    font-size: 50px;
    font-weight: 800;
    color:rgb(199, 134, 15)
}

.essentials {
    top: 215px;
    right: 160px;
    font-size: 25px;
    font-weight: 100;
    color:rgb(202, 202, 202);
    font-style: italic;
}

.bannstudy p {
    width: 250px;
    bottom: 150px;
    left: 300px;
    font-size: 14px;
    font-weight: 100;
    color:rgb(202, 202, 202);
    font-style: italic;
}

@keyframes animateImg {
    from {
        opacity: 0;
        transform: rotate(-30deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}